@page
@model DrugPrevention.RazorWebApp.TuyenTM.Pages.OrganizationProgramTuyenTM.EditModel

<h4>OrganizationProgramsTuyenTM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrganizationProgramsTuyenTM.OrganizationProgramTuyenTMID" />
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.OrganizationID" class="control-label"></label>
                <select asp-for="OrganizationProgramsTuyenTM.OrganizationID" class="form-control" asp-items="ViewBag.OrganizationID"></select>
                <span asp-validation-for="OrganizationProgramsTuyenTM.OrganizationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.ProgramToanNSID" class="control-label"></label>
                <select asp-for="OrganizationProgramsTuyenTM.ProgramToanNSID" class="form-control" asp-items="ViewBag.ProgramToanNSID"></select>
                <span asp-validation-for="OrganizationProgramsTuyenTM.ProgramToanNSID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.JoinedDate" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.JoinedDate" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.JoinedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.ContributionDescription" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.ContributionDescription" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.ContributionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.IsSponsor" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.IsSponsor" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.IsSponsor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.IsOrganizer" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.IsOrganizer" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.IsOrganizer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.ProgramRole" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.ProgramRole" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.ProgramRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.FundingAmount" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.FundingAmount" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.FundingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.Feedback" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.Feedback" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.Feedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationProgramsTuyenTM.LastUpdated" class="control-label"></label>
                <input asp-for="OrganizationProgramsTuyenTM.LastUpdated" class="form-control" />
                <span asp-validation-for="OrganizationProgramsTuyenTM.LastUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
